<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.codeb.cordova.plugins.settings"
      version="0.1.0">
    <name>Settings</name>
    <description>Get / Set Settings via Cordova</description>
    <license>MIT</license>
    <keywords>phonegap,cordova,settings</keywords>
 
 
    <js-module src="www/settings.js" name="Settings">
        <clobbers target="window.settings" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Settings">
				<param name="android-package" value="com.codeb.cordova.plugins.settings" />
			</feature>
        </config-file>
 
        <source-file src="src/android/settings.java" target-dir="src/com/codeb/cordova/plugins/settings" />      
     </platform>          
</plugin>